body {
 
  background: #16A085;  
background: -webkit-linear-gradient(to right, #F4D03F, #16A085);  
background: linear-gradient(to right, #F4D03F, #16A085); 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
